@media only screen and (min-width: 599px) {
    .reg-img {
    height: 10em;
    padding: 0 50px 0 50px;
    width: auto;    
    }
}

#registries {
    display: inline-flex;
    flex-wrap: wrap;
}


.reg-img {
    height: 20em;
    padding: 0 50px 0 50px;
    width: auto;
}