@media only screen and (max-width: 599px) {
    .reg-img {
        height: ;
        padding: 0 50px 0 50px;
        width: auto;
    }
}

@media only screen and (min-width: 600px) {


    #registries {
        display: inline-flex;
        flex-wrap: wrap;
    }


    .reg-img {
        height: 16em;
        padding: 0 50px 0 50px;
        width: auto;
    }
}
